.openseadragon1 {
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.openseadragon2 {
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}
